@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  list-style: none;
}

*:focus {
  outline: none;
}

.headerAll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  row-gap: 5vh;
  padding-top: 7vh;
  background-image: url("../PoshivPage/imgs/Group 1 (22).png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 10vh;
}
.headerAll header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: auto;
  row-gap: 5vh;
  max-width: 100%;
}
.headerAll header .forlogo img {
  width: 28vw;
}
.headerAll header div:nth-child(2) {
  width: 100vw;
  height: 10vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-image: url("../MainPage/imgs/Group 2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.headerAll header div:nth-child(2) ul {
  width: 80vw;
  justify-content: space-around;
}
.headerAll header div:nth-child(2) ul li:nth-child(6) {
  font-size: 1vw;
  font-weight: bold;
}
.headerAll header div:nth-child(2) ul button {
  width: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
  border: none;
  color: black;
  font-size: 0.8vw;
  font-weight: 500;
  background: transparent;
}
.headerAll header ul li:nth-child(4) img {
  width: 1.5vw;
}
.headerAll header ul button:nth-child(1) {
  width: auto;
  padding: 0.7vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 25px;
  background-color: #1FAB8A;
  border: none;
  color: white;
  font-size: 0.7vw;
}
.headerAll header ul button:nth-child(2) {
  border: none;
  font-size: 1vw;
  background: transparent;
}
.headerAll header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
}
.headerAll header ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headerAll header ul li form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 20px;
  width: 20vw;
}
.headerAll header ul li form input {
  border: none;
  padding-left: 1vw;
  padding: 0.5vw;
  background: transparent;
  width: 19vw;
  border-radius: 20px;
}
.headerAll header ul li form input img {
  width: 1.5vw;
}

main {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  row-gap: 5vh;
}
main ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3vh;
  height: auto;
  width: 40vw;
  padding-bottom: 3vh;
}
main ul:nth-child(1) img {
  width: 10vw;
}
main ul:nth-child(1) li:nth-child(1) {
  font-size: 2vw;
  font-weight: bolder;
  width: 40vw;
}
main ul:nth-child(1) li:nth-child(2) {
  width: 30vw;
  font-size: 1vw;
  font-weight: 200;
}

.tovarsAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 100%;
}
.tovarsAll .tovars {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: space-around;
  height: auto;
  row-gap: 5vh;
}
.tovarsAll .tovars .cardsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  height: auto;
}
.tovarsAll .tovars .cardsContainer .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  row-gap: 1vh;
}
.tovarsAll .tovars .cardsContainer .card ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  row-gap: 2vh;
}
.tovarsAll .tovars .cardsContainer .card ul li:nth-child(2) {
  align-self: flex-end;
  position: absolute;
  top: -80px;
  padding: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
.tovarsAll .tovars .cardsContainer .card ul li:nth-child(2) button {
  background: transparent;
  font-size: 1vw;
  border: none;
}
.tovarsAll .tovars .kats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  font-size: 0.9vw;
}
.tovarsAll .tovars .kats a {
  text-decoration: none;
  color: #8E8E8E;
}

.product-card {
  background: white;
  padding: 19px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
}

.image-slider {
  position: relative;
  width: 110%;
  right: 15px;
  top: -15px;
}

.product-image {
  width: 100%;
  display: none;
}

.product-image.active {
  display: block;
}

.arrow {
  position: absolute;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.arrow.left {
  right: 50px;
}

.arrow.right {
  right: 10px;
}

.color-buttons {
  margin-top: 10px;
}

.color-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.price {
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.pokazat {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  align-items: center;
}
.pokazat ul {
  display: flex;
  justify-content: space-around;
  width: auto;
  align-items: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.pokazat ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
.pokazat ul li button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.ideasAll {
  display: flex;
  width: 100vw;
  height: auto;
  padding-top: 25vh;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  flex-direction: column;
  padding-bottom: 7vh;
  background-image: url("imgs/Component 9.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
.ideasAll .ideas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  row-gap: 3vh;
  flex-direction: column;
  width: 80vw;
}
.ideasAll .ideas .nazv {
  font-size: 2vw;
  font-weight: 700;
  color: #222227;
}
.ideasAll .ideas .podNazv {
  color: #454747;
}
.ideasAll .ideas .podpodNazv {
  color: #222227;
  font-weight: 600;
  font-size: 1.1vw;
  width: 30vw;
}
.ideasAll .ideas p {
  width: 40vw;
  color: #222227;
  font-size: 1vw;
}
.ideasAll .ideas ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
}
.ideasAll .ideas ul button {
  width: auto;
  padding-bottom: 0.5vw;
  padding-top: 0.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  border: none;
  border-radius: 20px;
  background-color: #1FAB8A;
  color: white;
  font-size: 0.9vw;
}
.ideasAll .ideas ul form {
  width: 20vw;
  border: none;
  border-bottom: 1px solid black;
}
.ideasAll .ideas ul form input {
  border: none;
  background: transparent;
  font-size: 1vw;
}

.top-line {
  height: 5px;
  background-color: #F2F1F8;
  transition: width 0.3s, margin-left 0.3s;
  position: relative;
  border-radius: 10px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  position: relative;
  justify-content: space-around;
}

.menu li {
  margin: 0 15px;
  cursor: pointer;
  color: #8E8E8E;
  position: relative;
  padding: 10px 20px; /* Увеличение паддинга для соединения */
}

.submenu {
  display: none;
  position: absolute;
  background-color: #272525;
  list-style-type: none;
  padding: 10px 0; /* Убираем паддинг сверху и снизу */
  margin-top: 5px;
  margin-left: -20px;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submenu li {
  padding: 10px 10px; /* Паддинг в подменю для согласования */
  color: white;
  cursor: pointer;
}

.submenu li:hover {
  background-color: white;
  color: #272525;
}

.menu li.active {
  background-color: #272525;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
}

.footerAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  justify-content: space-around;
  padding-bottom: 7vh;
  background-image: url("../MainPage/imgs/Footer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-top: 10vh;
}
.footerAll .reserved {
  color: #9FA3B2;
  font-size: 0.9vw;
}
.footerAll footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 80vw;
}
.footerAll footer .nazv {
  font-size: 1.2vw;
  color: #272525;
  font-weight: 700;
}
.footerAll footer p {
  font-size: 1vw;
}
.footerAll footer a {
  text-decoration: none;
  color: #454747;
}
.footerAll footer ul:nth-child(1) li:nth-child(4) {
  display: flex;
  justify-content: space-around;
  width: 10vw;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.footerAll footer ul:nth-child(1) li:nth-child(4) img {
  width: 1.5vw;
}
.footerAll footer ul {
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  row-gap: 2vh;
}
.footerAll footer ul li {
  font-size: 1vw;
}
.footerAll footer form {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
  border: 2px solid #272525;
  border-radius: 16px;
  padding: 0.5vw;
  background-color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}
.footerAll footer form button {
  background-color: #524983;
  font-size: 1vw;
  width: auto;
  padding: 1vw;
  border: none;
  color: white;
  padding-bottom: 0.7vw;
  padding-top: 0.7vw;
  border-radius: 50%;
}
.footerAll footer form input {
  border: none;
  background: transparent;
  font-size: 1vw;
  width: 10vw;
}
.footerAll footer ul:nth-child(4) .qa {
  color: #8F90A6;
}
.footerAll footer ul:nth-child(1) {
  width: auto;
  padding-right: 2vw;
}
.footerAll footer ul:nth-child(1) li:nth-child(1) img {
  width: 25vw;
}
.footerAll footer ul:nth-child(1) li:nth-child(2) {
  width: 20vw;
}

.pop-up-card-All {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
  z-index: 20;
  position: fixed;
  left: 170px;
  display: none;
  top: 20px;
  background-color: #FAFAFA;
  border-radius: 16px;
}
.pop-up-card-All .withButtonInfo {
  align-self: flex-start;
  padding: 0.5vw;
}
.pop-up-card-All .closeInfoButton {
  background-color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.7vw;
  font-weight: 700;
}
.pop-up-card-All #photomain {
  width: 30vw;
}
.pop-up-card-All .opisanie {
  display: flex;
  padding: 2vw;
  flex-direction: column;
  height: auto;
  row-gap: 2vh;
  justify-content: space-around;
  align-self: flex-start;
}
.pop-up-card-All .opisanie #opistovar {
  width: 80%;
  color: #454747;
}
.pop-up-card-All .opisanie #price {
  color: #272525;
  font-size: 1.2vw;
  font-weight: 700;
}
.pop-up-card-All .opisanie #nazv {
  font-size: 3vw;
  font-weight: 600;
  color: #272525;
}
.pop-up-card-All .withImg {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  row-gap: 2vh;
}
.pop-up-card-All .withImg ul {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.pop-up-card-All .withImg ul li {
  list-style: none;
}
.pop-up-card-All .pop-up-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

.razmer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
.razmer ul:nth-child(2) li {
  -moz-column-gap: 7vw;
       column-gap: 7vw;
}
.razmer ul:nth-child(1) li:nth-child(2) {
  flex-direction: row-reverse;
}
.razmer ul:nth-child(1) li:nth-child(2) a {
  text-decoration: none;
  color: #524983;
}
.razmer ul:nth-child(1) li:nth-child(3) {
  align-self: center;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.razmer ul:nth-child(1) li:nth-child(4) {
  align-self: center;
}
.razmer ul:nth-child(1) li:nth-child(4) button {
  background-color: #524983;
  border-radius: 30px;
  color: #FFFFFF;
  border: none;
  width: auto;
  padding: 5vw;
  padding-top: 1.2vw;
  font-size: 1vw;
  cursor: pointer;
  padding-bottom: 1.2vw;
}
.razmer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  row-gap: 2vh;
}
.razmer ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

.basketButton {
  background: transparent;
  cursor: pointer;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Затенение с прозрачностью */
  z-index: 10; /* Убедитесь, что это выше, чем остальные элементы */
}

.oformlenieAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  padding: 1vw;
  border-radius: 16px;
  background-color: #FAFAFA;
  margin: 0 auto;
  z-index: 20;
  display: none;
  position: fixed;
  left: 250px;
  top: 150px;
}
.oformlenieAll .tovarImg {
  width: 5vw;
}
.oformlenieAll .zakaznumber {
  color: #8E8E8E;
}
.oformlenieAll .vsego {
  align-self: flex-end;
  font-size: 1.7vw;
  font-weight: 700;
}
.oformlenieAll .spravaOform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: 2px solid black;
  padding-left: 2vw;
}
.oformlenieAll .spravaOform .sprava {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  row-gap: 2vh;
  padding-bottom: 1vh;
}
.oformlenieAll .spravaOform .sprava .korz {
  display: flex;
  width: auto;
  justify-content: space-between;
  justify-self: flex-start;
}
.oformlenieAll .spravaOform .sprava .korz button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px black solid;
  font-size: 1.2vw;
  font-weight: 700;
  background-color: white;
}
.oformlenieAll .spravaOform .sprava .korz p {
  font-size: 1.7vw;
  font-weight: 700;
}
.oformlenieAll .spravaOform .sprava .spravaInfo {
  display: flex;
  width: auto;
  padding-bottom: 1vh;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  border-bottom: 2px solid black;
}
.oformlenieAll .spravaOform .sprava .spravaInfo ul {
  display: flex;
  flex-direction: column;
  height: auto;
  row-gap: 1vh;
}
.oformlenieAll .spravaOform .sprava .spravaInfo ul li {
  display: flex;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
.oformlenieAll .spravaOform .sprava .spravaInfo ul li button {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}
.oformlenieAll .oformlenie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  -moz-column-gap: 2vh;
       column-gap: 2vh;
}
.oformlenieAll .oformlenie .slevaOform {
  width: 45%;
  align-items: center;
  flex-direction: column;
  display: flex;
  align-self: flex-start;
  height: auto;
  row-gap: 2vh;
  justify-content: space-between;
}
.oformlenieAll .oformlenie .slevaOform button {
  background-color: #309F85;
  border-radius: 30px;
  color: #FFFFFF;
  border: none;
  width: auto;
  padding: 5vw;
  padding-top: 1vw;
  font-size: 1vw;
  cursor: pointer;
  padding-bottom: 1vw;
}
.oformlenieAll .oformlenie .slevaOform form {
  width: 20vw;
  border: none;
  border-bottom: 1px solid black;
}
.oformlenieAll .oformlenie .slevaOform form input {
  border: none;
  background: transparent;
  font-size: 1vw;
}
.oformlenieAll .oformlenie .slevaOform ul {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: auto;
  row-gap: 3vh;
  justify-content: space-around;
}
.oformlenieAll .oformlenie .slevaOform ul li:nth-child(1) {
  font-size: 1.7vw;
  font-weight: 700;
}
.oformlenieAll .oformlenie .slevaOform ul li:nth-child(2) {
  font-size: 0.9vw;
  width: 70%;
  color: #454747;
}
.oformlenieAll .oformlenie .slevaOform ul li:nth-child(7) {
  width: 70%;
}
.oformlenieAll .oformlenie .slevaOform ul li:nth-child(6) {
  align-self: center;
}
.oformlenieAll .oformlenie li {
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .headerAll {
    row-gap: 3vh;
    padding-top: 4vh;
    background-size: 140%;
  }
  .ideasAll {
    padding-top: 12vh;
  }
  .menu {
    flex-wrap: wrap;
  }
  .cardsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardsContainer .product-card:nth-child(4) {
    display: none;
  }
  .product-card {
    width: calc(20% - 1vw); /* 3 карточки в ряд */
    height: auto; /* автоматически регулируем высоту */
    margin: 1vw;
    padding: 1vw;
  }
  .product-card .basketButton img {
    width: 5vw;
  }
  .product-card img {
    position: relative;
    left: 7px;
    top: 10px;
  }
  .product-card p {
    font-size: 1vw;
  }
  .product-card h2 {
    font-size: 1.5vw;
  }
  .footerAll {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .headerAll {
    background-size: 180%;
    background-position: 70% 0%;
  }
  .cardsContainer .product-card:nth-child(3) {
    display: none;
  }
  .product-card {
    width: calc(40% - 2vw); /* 2 карточки в ряд */
    height: auto; /* автоматически регулируем высоту */
    margin: 1vw;
    padding: 2vw;
  }
  .product-card img {
    position: relative;
    left: 5px;
    top: 10px;
  }
  main ul:nth-child(1) li:nth-child(2) {
    font-size: 2vw;
    width: 60vw;
  }
  main {
    width: 90vw;
  }
  main ul:nth-child(1) li:nth-child(1) {
    font-size: 3vw;
    width: 100%;
  }
  .headerAll header div:nth-child(2) ul {
    width: auto;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
  }
  .headerAll header div:nth-child(2) ul button {
    font-size: 1.8vw;
  }
  .ideasAll {
    background-size: 170%;
    background-position: 60% 10%;
  }
  .ideasAll .ideas .nazv {
    font-size: 3vw;
  }
  .ideasAll .ideas ul {
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    top: -100px;
  }
  .ideasAll .ideas ul form {
    width: 40vw;
  }
  .ideasAll .ideas .podNazv {
    font-size: 1.5vw;
  }
  .ideasAll {
    padding-bottom: 0;
  }
  .ideasAll .ideas .podpodNazv {
    font-size: 2vw;
  }
  .footerAll {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .ideasAll .ideas ul {
    position: inherit;
    align-self: flex-start;
    height: auto;
    row-gap: 2vh;
  }
  .ideasAll .ideas ul form {
    width: 80vw;
  }
  .ideasAll {
    background-image: url("../MainPage/imgs/Group 1 (31).png");
    padding-top: 25vh;
    background-size: 130%;
  }
  .ideasAll .ideas ul button {
    font-size: 3vw;
    padding: 2vw;
    padding-right: 14vw;
    padding-left: 14vw;
  }
  .ideasAll .ideas .nazv {
    font-size: 5vw;
    width: 80vw;
  }
  .ideasAll .ideas .podNazv {
    font-size: 3vw;
    width: 80vw;
  }
  .ideasAll .ideas .podpodNazv {
    font-size: 3vw;
    width: 80vw;
  }
  .headerAll {
    padding-top: 3vh;
    background-size: 250%;
  }
  .headerAll header ul li:nth-child(2) {
    display: none;
  }
  .headerAll header div:nth-child(2) ul {
    display: none;
  }
  .headerAll header div:nth-child(2) {
    display: none;
  }
  main ul:nth-child(1) li:nth-child(1) {
    font-size: 6vw;
    font-weight: 800;
  }
  main ul:nth-child(1) {
    width: 70vw;
  }
  main ul:nth-child(1) li:nth-child(2) {
    font-size: 3vw;
  }
  main ul li:nth-child(3) {
    flex-direction: column;
    display: flex;
    height: auto;
    row-gap: 1vh;
  }
  main ul li:nth-child(3) img {
    width: 30vw;
  }
  .headerAll {
    row-gap: 4vh;
  }
  .headerAll header ul {
    -moz-column-gap: 15vw;
         column-gap: 15vw;
  }
  .headerAll header .forlogo img {
    width: 40vw;
  }
}
@media screen and (max-width: 320px) {
  .footerAll {
    padding-bottom: 0;
  }
  .cardsContainer {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    row-gap: 2vh;
  }
  .headerAll header div:nth-child(2) ul {
    display: none;
  }
  main ul:nth-child(1) li:nth-child(1) {
    font-size: 4vw;
    width: 80vw;
  }
  main ul:nth-child(1) li:nth-child(2) {
    font-size: 2vw;
    width: 60vw;
  }
  .headerAll header div:nth-child(2) {
    display: none;
  }
  .headerAll {
    background-size: 150%;
    background-position: 50% 0%;
  }
  .headerAll header ul li form {
    display: none;
  }
  .headerAll header ul {
    -moz-column-gap: 10vw;
         column-gap: 10vw;
  }
  .headerAll header .forlogo img {
    width: 35vw;
  }
  .product-card .basketButton img {
    width: 15vw;
  }
  .product-card {
    padding: 1vw;
    width: calc(80% - 1vw); /* 2 карточки в ряд */
    height: auto; /* автоматически регулируем высоту */
    margin: 1vw;
  }
  .product-card p {
    font-size: 4vw;
  }
  .product-card h2 {
    font-size: 5vw;
  }
  .ideasAll .ideas {
    text-align: center;
  }
  .ideasAll .ideas ul form input {
    width: 100%;
  }
  .ideasAll .ideas ul button {
    font-size: 6vw;
  }
  .ideasAll {
    background-image: url("../MainPage/imgs/05. Уникальная идея мерча.png");
    background-size: 160%;
    background-position: 20% 10%;
  }
  .footerAll {
    padding-top: 5vh;
  }
  main ul:nth-child(1) {
    row-gap: 1vh;
  }
  main ul:nth-child(1) {
    text-align: center;
  }
  .footerAll {
    padding-top: 2vh;
  }
  .headerAll {
    background-size: 500%;
    background-position: 78% 100%;
    padding-bottom: 50vh;
  }
  main ul:nth-child(1) li:nth-child(2) {
    width: 70vw;
    align-self: center;
    font-size: 3vw;
  }
  main {
    width: 80vw;
    flex-direction: column;
  }
  main ul:nth-child(1) li:nth-child(1) {
    width: 70vw;
    align-self: center;
    font-size: 6vw;
  }
}
@media screen and (max-width: 1000px) {
  .pop-up-card-All {
    left: 70px;
    width: 90vw; /* увеличиваем ширину */
  }
  .pop-up-card-All .table img {
    width: 30vw;
  }
  .pop-up-card-All .withButtonInfo {
    padding: 1vw; /* увеличиваем отступы */
  }
  .pop-up-card-All .closeInfoButton {
    width: 45px; /* уменьшаем размер кнопки */
    height: 45px; /* уменьшаем размер кнопки */
    font-size: 1.5vw; /* уменьшаем текст */
  }
  .pop-up-card-All #photomain {
    width: 35vw; /* увеличиваем ширину изображения */
  }
  .pop-up-card-All .opisanie {
    padding: 1.5vw; /* уменьшаем отступы */
  }
  .pop-up-card-All .opisanie #opistovar {
    width: 90%; /* увеличиваем ширину */
  }
  .pop-up-card-All .opisanie #price {
    font-size: 1.5vw; /* увеличиваем текст */
  }
  .pop-up-card-All .opisanie #nazv {
    font-size: 2.5vw; /* уменьшаем текст */
  }
  .pop-up-card-All .withImg {
    align-self: flex-start;
    padding: 1.5vw; /* увеличиваем отступ */
  }
  .pop-up-card-All .withImg ul {
    -moz-column-gap: 2vw;
         column-gap: 2vw; /* увеличиваем промежуток */
  }
  .pop-up-card-All .pop-up-card {
    -moz-column-gap: 1.5vw;
         column-gap: 1.5vw; /* уменьшаем пробелы между элементами */
  }
  .razmer {
    -moz-column-gap: 1.5vw;
         column-gap: 1.5vw; /* уменьшаем пробелы между колонками */
  }
  .razmer ul:nth-child(2) li {
    -moz-column-gap: 4vw;
         column-gap: 4vw; /* уменьшаем расстояние между элементами */
  }
  .razmer ul:nth-child(1) li:nth-child(2) a {
    font-size: 1.2vw; /* уменьшаем размер текста */
  }
  .razmer ul:nth-child(1) li:nth-child(3) button, .razmer ul:nth-child(1) li:nth-child(4) button {
    padding: 3vw; /* уменьшаем отступы кнопки */
    font-size: 1.5vw; /* уменьшаем текст */
  }
  .razmer ul {
    row-gap: 1.5vh; /* уменьшаем расстояние между элементами */
  }
}
@media screen and (max-width: 768px) {
  .pop-up-card-All .withImg ul img {
    width: 10vw;
  }
  .pop-up-card-All {
    left: 20px;
    width: 95vw; /* еще больше увеличиваем ширину */
  }
  .pop-up-card-All .withButtonInfo {
    padding: 1.5vw; /* увеличиваем отступы */
  }
  .pop-up-card-All .closeInfoButton {
    width: 40px; /* уменьшаем размер кнопки */
    height: 40px; /* уменьшаем размер кнопки */
    font-size: 1.3vw; /* уменьшаем текст */
  }
  .pop-up-card-All #photomain {
    width: 35vw; /* значительно увеличиваем ширину изображения */
  }
  .pop-up-card-All .opisanie {
    padding: 1vw; /* увеличиваем отступы */
  }
  .pop-up-card-All .opisanie #opistovar {
    width: 95%; /* увеличиваем ширину */
  }
  .pop-up-card-All .opisanie #price {
    font-size: 1.8vw; /* увеличиваем текст */
  }
  .pop-up-card-All .opisanie #nazv {
    font-size: 2vw; /* уменьшаем текст */
  }
  .pop-up-card-All .withImg {
    padding: 1.5vw; /* увеличиваем отступ */
  }
  .pop-up-card-All .withImg ul {
    -moz-column-gap: 1.5vw;
         column-gap: 1.5vw; /* уменьшаем промежуток */
  }
  .pop-up-card-All .pop-up-card {
    -moz-column-gap: 1vw;
         column-gap: 1vw; /* уменьшаем пробелы между элементами */
  }
  .razmer {
    -moz-column-gap: 1vw;
         column-gap: 1vw; /* уменьшаем пробелы между колонками */
  }
  .razmer ul:nth-child(2) li {
    -moz-column-gap: 3vw;
         column-gap: 3vw; /* уменьшаем расстояние между элементами */
  }
  .razmer ul:nth-child(1) li:nth-child(2) a {
    font-size: 1vw; /* уменьшаем размер текста */
  }
  .razmer ul:nth-child(1) li:nth-child(3) button, .razmer ul:nth-child(1) li:nth-child(4) button {
    padding: 2.5vw; /* уменьшаем отступы кнопки */
    font-size: 2vw; /* уменьшаем текст */
  }
  .razmer ul {
    row-gap: 1vh; /* уменьшаем расстояние между элементами */
  }
}
@media screen and (max-width: 480px) {
  .pop-up-card-All {
    left: 10px;
  }
  .pop-up-card-All .pop-up-card {
    flex-direction: column;
  }
  .pop-up-card-All #photomain {
    -o-object-fit: cover;
       object-fit: cover;
    width: 90vw;
    height: 20vh;
  }
  .pop-up-card-All .opisanie .table {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .pop-up-card-All .withImg ul {
    display: none;
  }
  .razmer ul:nth-child(1) li:nth-child(3) button, .razmer ul:nth-child(1) li:nth-child(4) button {
    font-size: 6vw;
  }
  .razmer ul:nth-child(2) {
    display: none;
  }
  .razmer ul li {
    display: flex;
    align-items: center;
    align-self: center;
  }
  .razmer {
    flex-direction: column;
    align-items: center;
  }
  .pop-up-card-All .opisanie .table {
    display: none;
  }
  .pop-up-card-All .opisanie #nazv {
    font-size: 5vw;
  }
  .razmer ul:nth-child(1) li:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .oformlenieAll {
    left: 70px;
    width: 80vw; /* увеличиваем ширину */
    padding: 2vw; /* увеличиваем отступы */
  }
  .oformlenieAll .tovarImg {
    width: 7vw; /* увеличиваем ширину изображения */
  }
  .oformlenieAll .vsego {
    font-size: 1.5vw; /* уменьшаем размер шрифта */
  }
  .oformlenieAll .spravaOform {
    padding-left: 1.5vw; /* уменьшаем отступ */
  }
  .oformlenieAll .spravaOform .sprava {
    padding-bottom: 1vh;
  }
  .oformlenieAll .spravaOform .sprava .korz p {
    font-size: 1.5vw; /* уменьшаем текст */
  }
  .oformlenieAll .spravaOform .sprava .spravaInfo {
    -moz-column-gap: 1.5vw;
         column-gap: 1.5vw; /* уменьшаем промежуток */
  }
  .oformlenieAll .spravaOform .sprava .spravaInfo ul li button {
    width: 15px; /* уменьшаем размер кнопок */
    height: 15px;
  }
  .oformlenieAll .oformlenie {
    -moz-column-gap: 1.5vh;
         column-gap: 1.5vh; /* уменьшаем промежуток */
  }
  .oformlenieAll .oformlenie .slevaOform button {
    font-size: 0.9vw; /* уменьшаем текст */
  }
  .oformlenieAll .oformlenie .slevaOform form {
    width: 25vw; /* увеличиваем ширину формы */
  }
  .oformlenieAll .oformlenie .slevaOform form input {
    font-size: 0.9vw; /* уменьшаем текст */
  }
  .oformlenieAll .oformlenie .slevaOform ul li:nth-child(1) {
    font-size: 1.5vw; /* уменьшаем текст */
  }
  .oformlenieAll .oformlenie .slevaOform ul li:nth-child(2) {
    font-size: 0.8vw; /* уменьшаем текст */
  }
}
@media screen and (max-width: 768px) {
  .oformlenieAll .oformlenie .slevaOform ul li:nth-child(7) {
    font-size: 2vw;
  }
  .oformlenieAll .oformlenie .slevaOform ul li {
    width: 100%;
  }
  .oformlenieAll {
    left: 20px;
    width: 90vw; /* еще больше увеличиваем ширину */
    padding: 2.5vw; /* увеличиваем отступы */
  }
  .oformlenieAll .tovarImg {
    width: 10vw; /* значительно увеличиваем ширину изображения */
  }
  .oformlenieAll .vsego {
    font-size: 2vw; /* уменьшаем размер шрифта */
  }
  .oformlenieAll .spravaOform {
    padding-left: 1vw; /* уменьшаем отступ */
  }
  .oformlenieAll .spravaOform .sprava {
    padding-bottom: 0.5vh; /* уменьшаем отступ */
  }
  .oformlenieAll .spravaOform .sprava .korz p {
    font-size: 4vw; /* уменьшаем текст */
  }
  .oformlenieAll .spravaOform .sprava .spravaInfo {
    -moz-column-gap: 1vw;
         column-gap: 1vw; /* уменьшаем промежутки */
  }
  .oformlenieAll .spravaOform .sprava .spravaInfo ul li button {
    width: 12px; /* уменьшаем размер кнопок */
    height: 12px; /* уменьшаем размер кнопок */
  }
  .oformlenieAll .oformlenie {
    -moz-column-gap: 1vh;
         column-gap: 1vh; /* уменьшаем промежуток */
  }
  .oformlenieAll .oformlenie .slevaOform button {
    padding: 3vw; /* уменьшаем отступы */
    font-size: 2vw; /* уменьшаем текст */
  }
  .oformlenieAll .oformlenie .slevaOform form {
    width: 30vw; /* увеличиваем ширину формы */
  }
  .oformlenieAll .oformlenie .slevaOform form input {
    font-size: 2vw; /* уменьшаем текст */
  }
  .oformlenieAll .oformlenie .slevaOform ul li:nth-child(1) {
    font-size: 3vw; /* уменьшаем текст */
  }
  .oformlenieAll .oformlenie .slevaOform ul li:nth-child(2) {
    font-size: 2vw; /* уменьшаем текст */
  }
}
@media (max-width: 768px) {
  .footerAll footer {
    flex-direction: row; /* Сохранить рядное размещение */
    justify-content: space-between; /* Сохранить равные отступы */
  }
  .footerAll footer .nazv {
    font-size: 1.5vw; /* Уменьшение размера шрифта */
  }
  .footerAll footer ul {
    width: 30vw; /* Уменьшение ширины списков */
  }
  .footerAll footer form input {
    width: 40vw; /* Уменьшение ширины поля ввода */
  }
}
@media (max-width: 480px) {
  .footerAll footer {
    flex-direction: row; /* Сохраняем рядное размещение */
    justify-content: space-between; /* Поддерживаем равномерные отступы */
  }
  .footerAll footer .nazv {
    font-size: 2vw; /* Увеличение размера шрифта для улучшения читаемости */
  }
  .footerAll footer ul {
    width: 40vw; /* Увеличение ширины списков */
  }
  .footerAll footer form input {
    width: 60vw; /* Увеличение ширины поля ввода */
  }
  .footerAll .reserved {
    font-size: 1.2vw; /* Увеличение шрифта для читаемости */
  }
}/*# sourceMappingURL=style.css.map */