*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    list-style: none;
}
*:focus {
    outline: none;
}
.headerAll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    row-gap: 5vh;
    padding-top: 7vh;
    background-image: url('imgs/Group\ 1\ \(30\).png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 10vh;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: auto;
        row-gap: 5vh;
        max-width: 100%;
        .forlogo {
            img {
                width: 28vw;
            }
        }
        div:nth-child(2){
            width: 100vw;
            height: 10vh;
            max-width: 100%;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-content: center;
            background-image: url('../MainPage/imgs/Group\ 2.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            ul{
                width: 80vw;
                justify-content: space-around;
                li:nth-child(6){
                    font-size: 1vw;
                    font-weight: bold;
                }
                button{
                    width: auto;
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                    padding-right: 1vw;
                    padding-left: 1vw;
                    border: none;
                    color: black;
                    font-size: 0.8vw;
                    font-weight: 500;
                    background: transparent;
                }
            }
        }
        ul{
            li:nth-child(4){
                img{
                    width: 1.5vw;
                }
            }
            button:nth-child(1) {
                width: auto;
                padding: 0.7vw;
                padding-right: 2vw;
                padding-left: 2vw;
                border-radius: 25px;
                background-color: #1FAB8A;
                border: none;
                color: white;
                font-size: 0.7vw;
            }
            button:nth-child(2){
                border: none;
                font-size: 1vw;
                background: transparent;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            column-gap: 5vw;
            li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: 1px solid black;
                    border-radius: 20px;
                    width: 20vw;
                    input {
                        border: none;
                        padding-left: 1vw;
                        padding: 0.5vw;
                        background: transparent;
                        width: 19vw;
                        border-radius: 20px;
                        img {
                            width: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}
main {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    row-gap: 5vh;
    button {
        background-color: #3C336C;
        border-radius: 30px;
        color: #FFFFFF;
        border: none;
        width: auto;
        padding: 3vw;
        padding-top: 0.8vw;
        font-size: 0.9vw;
        cursor: pointer;
        padding-bottom: 0.8vw;
    }
    ul:nth-child(1){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 3vh;
        height: auto;
        width: 40vw;
        padding-bottom: 3vh;
        img {
            width: 10vw;
        }
        li:nth-child(1){
            font-size: 2vw;
            font-weight: bolder;
            width: 40vw;
        }
        li:nth-child(2){
            width: 30vw;
            font-size: 1vw;
            font-weight: 200;
        }
    }


}
.gotovieNaboriAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    .gotovieNabori {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 80vw;
        height: auto;
        row-gap: 3vh;
        #nazvvv{
            align-self: flex-start;
            font-size: 1.5vw;
            font-weight: 700;
        }
    }
}
.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: auto;
    column-gap: 3vw;
    height: auto;
}
.product-card {
    background: white;
    padding: 19px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 300px;
  }
  .image-slider {
    position: relative;
    width: 110%;
    right: 15px;
    top: -15px;
  }
  .product-image {
    width: 100%;
    display: none;
  }
  .product-image.active {
    display: block;
  }
  .arrow {
    position: absolute;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  .arrow.left {
    right: 50px;
  }
  .arrow.right {
    right: 10px;
  }
  .color-buttons {
    margin-top: 10px;
  }
  .color-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }
  .price {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .add-to-cart {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  .pokazat {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-around;
        width: auto;
        align-items: center;
        column-gap: 1vw;
        li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            column-gap: 0.5vw;
            button {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #ccc;
                display: inline-block;
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }
}
.priceAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    padding-bottom: 7vh;
    .price {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        ul {
            display: flex;
            flex-direction: column;
            width: 25vw;
            align-items: flex-start;
            justify-content: space-around;
            height: auto;
            row-gap: 2vh;
            li:nth-child(1){
                font-size: 1.5vw;
                font-weight: 600;
                color: #272525;
            }
            li:nth-child(2){
                font-size: 0.8vw;
                font-weight: 300;
                width: 23vw;
                color: #454747;
            }
        }
    }
}
.creativeAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 65vh;
    padding-top: 7vh;
    max-width: 100%;
    background-image: url('../MainPage/imgs/Photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    .fornazv {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        height: auto;
        li:nth-child(1){
            font-size: 1.7vw;
            font-weight: 700;
            color: #272525;
        }
        li:nth-child(2){
            font-size: 0.9vw;
            font-weight: 400;
            color: #454747;
            width: 30vw;
        }
    }
    .creativeforms {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        height: auto;
        row-gap: 3vh;
    }
    .forms {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        width: auto;
        column-gap: 3vw;
        align-self: flex-start;
        column-gap: 3vw;
        #forforms {
            width: 20vw;
            align-self: flex-start;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: auto;
            row-gap: 3vh;
            flex-direction: column;
            button {
                width: auto;
                padding-bottom: 0.5vw;
                padding-top: 0.5vw;
                padding-left: 3vw;
                padding-right: 3vw;
                border: none;
                border-radius: 20px;
                background-color: #1FAB8A;
                color: white;
                font-size: 0.9vw;
            }
            form {
                width: 20vw;
                border: none;
                border-bottom: 1px solid black;
                input {
                    border:none;
                    background: transparent;
                    font-size: 1vw;
                }
            }
        }
        p {
            font-size: 1.2vw;
            font-weight: 600;
        }
    }
    img {
        padding: 2vw;
        rotate: -2deg;
        width: 10vw;
    }
    .creative {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
        height: auto;
        row-gap: 2vh;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            row-gap: 3vh;
        }
    }
}
.footerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    justify-content: space-around;
    padding-bottom: 7vh;
    background-image: url('../MainPage/imgs/Footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 10vh;
    .reserved {
        color: #9FA3B2;
        font-size: 0.9vw;
    }
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        .nazv {
            font-size: 1.2vw;
            color: #272525;
            font-weight: 700;
        }
        p {
            font-size: 1vw;
        }
        a{
            text-decoration: none;
            color: #454747;
        }
        ul:nth-child(1){
            li:nth-child(4){
                display: flex;
                justify-content: space-around;
                width: 10vw;
                column-gap: 1vw;
                img {
                    width: 1.5vw;
                }
            }
        }
        ul {
            width: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            row-gap: 2vh;
            li{
                font-size: 1vw;
            }
        }
        form {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            column-gap: 0.5vw;
            border: 2px solid #272525;
            border-radius: 16px;
            padding: 0.5vw;
            background-color: white;
            padding-left: 1vw;
            padding-right: 1vw;
            button {
                background-color: #524983;
                font-size: 1vw;
                width: auto;
                padding: 1vw;
                border: none;
                color: white;
                padding-bottom: 0.7vw;
                padding-top: 0.7vw;
                border-radius: 50%;
            }
            input {
                border: none;
                background: transparent;
                font-size: 1vw;
                width: 10vw;
            }
        }
        ul:nth-child(4){
            .qa {
                color: #8F90A6;
            }
        }
        ul:nth-child(1){
            width: auto;
            padding-right: 2vw;
            li:nth-child(1){
                img {
                    width: 25vw;
                }
            }
            li:nth-child(2){
                width: 20vw;
            }
        }
    }
}