*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    list-style: none;
}
*:focus {
    outline: none;
}
.headerAll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    row-gap: 7vh;
    padding-top: 7vh;
    background-image: url('../PoshivPage/imgs/Group\ 1\ \(22\).png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 10vh;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: auto;
        row-gap: 5vh;
        max-width: 100%;
        .forlogo {
            img {
                width: 28vw;
            }
        }
        div:nth-child(2){
            width: 100vw;
            height: 10vh;
            max-width: 100%;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-content: center;
            background-image: url('../MainPage/imgs/Group\ 2.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            ul{
                width: 80vw;
                justify-content: space-around;
                li:nth-child(6){
                    font-size: 1vw;
                    font-weight: bold;
                }
                button{
                    width: auto;
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                    padding-right: 1vw;
                    padding-left: 1vw;
                    border: none;
                    color: black;
                    font-size: 0.8vw;
                    font-weight: 500;
                    background: transparent;
                }
            }
        }
        ul{
            li:nth-child(4){
                img{
                    width: 1.5vw;
                }
            }
            button:nth-child(1) {
                width: auto;
                padding: 0.7vw;
                padding-right: 2vw;
                padding-left: 2vw;
                border-radius: 25px;
                background-color: #1FAB8A;
                border: none;
                color: white;
                font-size: 0.7vw;
            }
            button:nth-child(2){
                border: none;
                font-size: 1vw;
                background: transparent;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            column-gap: 5vw;
            li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: 1px solid black;
                    border-radius: 20px;
                    width: 20vw;
                    input {
                        border: none;
                        padding-left: 1vw;
                        padding: 0.5vw;
                        background: transparent;
                        width: 19vw;
                        border-radius: 20px;
                        img {
                            width: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}
main {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    row-gap: 2vh;
    .proschet {
        display: flex;
        height: auto;
        row-gap: 2vh;
        justify-content: space-around;
        width: auto;
        align-items: center;
        column-gap: 2vw;
        ul:nth-child(1){
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            column-gap: 2vw;
            font-size: 0.8vw;
            row-gap: 2vh;
            height: auto;
            li {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: auto;
                column-gap: 2vw;
                color: #524983;
                button {
                    background-color: #3C336C;
                    border-radius: 30px;
                    color: #FFFFFF;
                    border: none;
                    width: auto;
                    padding: 3vw;
                    padding-top: 0.8vw;
                    font-size: 0.9vw;
                    padding-bottom: 0.8vw;
                }
                a {
                    color: #524983;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }
        ul:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: auto;
            column-gap: 2vw;
            height: auto;
            li:nth-child(1){
                align-self: flex-start;
            }
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: auto;
                flex-direction: row-reverse;
                column-gap: 1vw;
                height: auto;
                font-weight: 500;
                a {
                    text-decoration: none;
                    color: #524983;
                    transition: 0.5s;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        ul:nth-child(3){
            display: flex;
            width: auto;
            column-gap: 2vw;
            align-items: center;
            justify-content: space-around;
            li {
                display: flex;
                justify-content: space-around;
                width: auto;
                column-gap: 1vw;
                align-items: center;
                a {
                    text-decoration: none;
                    color: #524983;
                    transition: 0.5s;
                    &:hover {
                        color: black;
                    }
                }
                img {
                    width: 1vw;
                    height: 1vw;
                }
            }
        }
    }
    .Snazv{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 3vh;
        height: auto;
        width: 40vw;
        padding-bottom: 3vh;
        img {
            width: 10vw;
        }
        li:nth-child(1){
            font-size: 2vw;
            font-weight: bolder;
            width: 40vw;
        }
        li:nth-child(2){
            width: 30vw;
            font-size: 1vw;
            font-weight: 200;
        }
    }


}
.questionsAll {
    display: flex;
    width: 100vw;
    flex-direction: row;
    padding-top: 7vh;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
    .ques {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
    }
    .forHoodieImg {
        img {
            width: 25vw;
        }
    }
    .questions {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: auto;
        row-gap: 2vh;
        .kakzakaz {
            padding-bottom: 3vh;
            border-bottom: 5px #F1F0F8 solid;
            width: 100%;
        }
        ul {
            padding-bottom: 3vh;
            border-bottom: 5px #F1F0F8 solid;
            width: 100%;
        }
        .kakstir{
            li{
                list-style: none;
            }
        }
        li {
            list-style:circle;
        }
        .withNazv {
            display: flex;
            justify-content: space-between;
            width:100%;
            align-items: center;
            font-size: 1.5vw;
            font-weight: 600;
            height: auto;
            row-gap: 2vh;
            img {
                width: 1vw;
            }
        }
    }
}
.ideasAll {
    display: flex;
    width: 100vw;
    height: auto;
    padding-top: 25vh;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 7vh;
    background-image: url('../MainPage/imgs/Group\ 1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .ideas {
        display: flex;
        justify-content:space-around;
        align-items: flex-start;
        height: auto;
        row-gap: 3vh;
        flex-direction: column;
        width: 80vw;
        .nazv {
            font-size: 2vw;
            font-weight: 700;
            color: #222227;
        }
        .podNazv {
            color: #454747;
        }
        .podpodNazv {
            color: #222227;
            font-weight: 600;
            font-size: 1.1vw;
            width: 30vw;
        }
        p {
            width: 40vw;
            color: #222227;
            font-size: 1vw;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: auto;
            column-gap: 3vw;
            button {
                width: auto;
                padding-bottom: 0.5vw;
                padding-top: 0.5vw;
                padding-left: 3vw;
                padding-right: 3vw;
                border: none;
                border-radius: 20px;
                background-color: #1FAB8A;
                color: white;
                font-size: 0.9vw;
            }
            form {
                width: 20vw;
                border: none;
                border-bottom: 1px solid black;
                input {
                    border:none;
                    background: transparent;
                    font-size: 1vw;
                }
            }
        }
    }
}
.footerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    justify-content: space-around;
    padding-bottom: 7vh;
    background-image: url('../MainPage/imgs/Footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 10vh;
    .reserved {
        color: #9FA3B2;
        font-size: 0.9vw;
    }
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        .nazv {
            font-size: 1.2vw;
            color: #272525;
            font-weight: 700;
        }
        p {
            font-size: 1vw;
        }
        a{
            text-decoration: none;
            color: #454747;
        }
        ul:nth-child(1){
            li:nth-child(4){
                display: flex;
                justify-content: space-around;
                width: 10vw;
                column-gap: 1vw;
                img {
                    width: 1.5vw;
                }
            }
        }
        ul {
            width: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            row-gap: 2vh;
            li{
                font-size: 1vw;
            }
        }
        form {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            column-gap: 0.5vw;
            border: 2px solid #272525;
            border-radius: 16px;
            padding: 0.5vw;
            background-color: white;
            padding-left: 1vw;
            padding-right: 1vw;
            button {
                background-color: #524983;
                font-size: 1vw;
                width: auto;
                padding: 1vw;
                border: none;
                color: white;
                padding-bottom: 0.7vw;
                padding-top: 0.7vw;
                border-radius: 50%;
            }
            input {
                border: none;
                background: transparent;
                font-size: 1vw;
                width: 10vw;
            }
        }
        ul:nth-child(4){
            .qa {
                color: #8F90A6;
            }
        }
        ul:nth-child(1){
            width: auto;
            padding-right: 2vw;
            li:nth-child(1){
                img {
                    width: 25vw;
                }
            }
            li:nth-child(2){
                width: 20vw;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .headerAll {
        row-gap: 3vh;
        padding-top: 4vh;
        background-size: 120%;
    }

}
@media screen and (max-width: 1000px) {
    .ideasAll {
        padding-top: 12vh;
    }
    .footerAll {
        padding-bottom: 0;
    }
    .questionsAll {
        padding-top: 5vh; /* уменьшаем отступ сверху */
        
        .ques {
            width: 90vw; /* увеличиваем ширину блока вопросов */
        }
        
        .forHoodieImg {
            img {
                width: 30vw; /* увеличиваем ширину изображения */
            }
        }
        
        .questions {
            width: 50vw; /* увеличиваем ширину вопросов */
            
            .kakzakaz {
                padding-bottom: 2vh; /* уменьшаем отступ снизу */
            }
            
            ul {
                padding-bottom: 2vh; /* уменьшаем отступ снизу */
            }

            .withNazv {
                font-size: 1.3vw; /* уменьшаем размер шрифта */
                img {
                    width: 1.2vw; /* увеличиваем размер изображения */
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .ideasAll {
        background-size: 170%;
        background-position: 40% 10%;
    }
    .ideasAll .ideas .nazv {
        font-size: 3vw;
    }
    .ideasAll .ideas ul {
        flex-direction: column;
        align-self: flex-end;
        position: relative;
        top: -100px;
        form {
            width: 40vw;
        }
    }
    .ideasAll .ideas .podNazv {
        font-size: 1.5vw;
    }
    .ideasAll {
        padding-bottom: 0;
    }
    .ideasAll .ideas .podpodNazv {
        font-size: 2vw;
    }
    .footerAll {
        padding-bottom: 0;
    }
    .headerAll {
        background-size: 150%;
        background-position: 50% 10%;
    }
    main ul:nth-child(1) li:nth-child(2) {
        font-size: 2vw;
        width: 100%;
    }
    main .proschet ul:nth-child(1) li {
        font-size: 2vw;
    }
    .headerAll header div:nth-child(2) ul {
        width: auto;
        column-gap: 2vw;
    }
    .headerAll {
        background-size: 150%;
        background-position: 50% 0%;
    }
    .headerAll header div:nth-child(2) ul {
        button {
            font-size: 1.8vw;
        }
    }
    .questionsAll {
        flex-direction: column; /* меняем направление на колонку */
        align-items: center; /* выравниваем элементы по началу */
        padding-top: 4vh; /* уменьшаем отступ сверху */
        
        .ques {
            width: 95vw; /* увеличиваем ширину блока вопросов */
            flex-direction: column; /* делаем блоки вопросов вертикально */
            align-items: flex-start; /* выравниваем элементы по началу */
        }
        
        .forHoodieImg {
            img {
                width: 90vw;
                height: 40vh;
                object-fit: cover; /* увеличиваем ширину изображения */
            }
        }
        
        .questions {
            width: 100%; /* делаем ширину вопросов полной */
            
            .kakzakaz {
                padding-bottom: 1vh; /* уменьшаем отступ снизу */
            }
            
            ul {
                padding-bottom: 1vh; /* уменьшаем отступ снизу */
            }

            .withNazv {
                font-size: 2vw; /* уменьшаем размер шрифта */
                img {
                    width: 1.5vw; /* увеличиваем размер изображения */
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .headerAll {
        padding-top: 3vh;
    }
    .headerAll header ul li:nth-child(2) {
        display: none;
    }
    .headerAll header div:nth-child(2) ul {
        display: none;
    }
    .headerAll header div:nth-child(2) {
        display: none;
    }
    main ul:nth-child(1) li:nth-child(1) {
        font-size: 6vw;
        font-weight: 800;
    }
    main ul:nth-child(1) {
        width: 70vw;
    }
    main ul:nth-child(1) li:nth-child(2) {
        font-size: 3vw;
    }
    main ul {
        li:nth-child(3){
            flex-direction: column;
            display: flex;
            height: auto;
            row-gap: 1vh;
            img {
                width: 30vw;
            }
        }
    }
    .headerAll {
        row-gap: 4vh;
    }
    .headerAll header ul {
        column-gap: 15vw;
    }
    .headerAll header .forlogo img {
        width: 40vw;
    }
    .headerAll header div:nth-child(2) ul {
        display: none;
    }
    .headerAll header div:nth-child(2) {
        display: none;
    }
    .questionsAll {
        flex-direction: column;
        align-items: center;
    }

    .questionsAll .ques {
        width: 90vw;
    }

    .questionsAll .forHoodieImg img {
        width: 90vw;
        height: 50vh;
        object-fit: cover;
    }

    .questionsAll .questions {
        width: 90vw;
    }
    main .proschet ul:nth-child(1) li a {
        font-size: 2vw;
    }
    .questionsAll .questions .withNazv {
        font-size: 4vw;
    }
    main .proschet ul:nth-child(1) li button {
        font-size: 3vw;
    }
    main .proschet ul:nth-child(2) {
        display: none;
    }
    main .proschet ul:nth-child(3) li a {
        display: none;
    }
    .ideasAll .ideas ul{
        position: inherit;
        align-self: flex-start;
        height: auto;
        row-gap: 2vh;
        form {
            width: 80vw;
        }
    }
    .ideasAll {
        background-image: url('../MainPage/imgs/Group\ 1\ \(31\).png');
        padding-top: 25vh;
        background-size: 130%;
    }
    .ideasAll .ideas ul button {
        font-size: 3vw;
        padding: 2vw;
        padding-right: 14vw;
        padding-left: 14vw;
    }
    .ideasAll .ideas .nazv {
        font-size: 5vw;
        width: 80vw;
    }
    .ideasAll .ideas .podNazv {
        font-size: 3vw;
        width: 80vw;
    }
    .ideasAll .ideas .podpodNazv {
        font-size: 3vw;
        width: 80vw;
    }
}

@media (max-width: 320px) {
    .ideasAll .ideas {
        text-align: center;
    }
    .ideasAll .ideas ul form input {
        width: 100%;
    }
    .ideasAll .ideas ul button {
        font-size: 6vw;
    }
    .questionsAll .questions .withNazv {
        text-align: center;
        justify-content: center;
    }
    .ideasAll {
        background-image: url('../MainPage/imgs/05.\ Уникальная\ идея\ мерча.png');
        background-size: 160%;
        background-position: 20% 10%;
    }
    .questionsAll .questions .withNazv {
        font-size: 5vw;
    }
    .headerAll {
        padding-top: 2vh;
        background-size: 300%;
        background-position: 80% 40%;
        padding-bottom: 10vh;
    }
    .questionsAll .forHoodieImg img {
        width: 80vw;
        height: 50vh;
        object-fit: cover;
    }
}
@media (max-width: 768px) {
    .footerAll footer {
        flex-direction: row; /* Сохранить рядное размещение */
        justify-content: space-between; /* Сохранить равные отступы */
    }

    .footerAll footer .nazv {
        font-size: 1.5vw; /* Уменьшение размера шрифта */
    }

    .footerAll footer ul {
        width: 30vw; /* Уменьшение ширины списков */
    }

    .footerAll footer form input {
        width: 40vw; /* Уменьшение ширины поля ввода */
    }
}

@media (max-width: 480px) {
    .footerAll footer {
        flex-direction: row; /* Сохраняем рядное размещение */
        justify-content: space-between; /* Поддерживаем равномерные отступы */
    }

    .footerAll footer .nazv {
        font-size: 2vw; /* Увеличение размера шрифта для улучшения читаемости */
    }

    .footerAll footer ul {
        width: 40vw; /* Увеличение ширины списков */
    }

    .footerAll footer form input {
        width: 60vw; /* Увеличение ширины поля ввода */
    }

    .footerAll .reserved {
        font-size: 1.2vw; /* Увеличение шрифта для читаемости */
    }
}