*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    list-style: none;
}
*:focus {
    outline: none;
}
.headerAll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    row-gap: 5vh;
    padding-top: 7vh;
    background-image: url('imgs/Group\ 1\ \(28\).png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 15vh;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: auto;
        row-gap: 5vh;
        max-width: 100%;
        .forlogo {
            img {
                width: 28vw;
            }
        }
        div:nth-child(2){
            width: 100vw;
            height: 10vh;
            max-width: 100%;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-content: center;
            background-image: url('../MainPage/imgs/Group\ 2.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            ul{
                width: 80vw;
                justify-content: space-around;
                li:nth-child(6){
                    font-size: 1vw;
                    font-weight: bold;
                }
                button{
                    width: auto;
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                    padding-right: 1vw;
                    padding-left: 1vw;
                    border: none;
                    color: black;
                    font-size: 0.8vw;
                    font-weight: 500;
                    background: transparent;
                }
            }
        }
        ul{
            li:nth-child(4){
                img{
                    width: 1.5vw;
                }
            }
            button:nth-child(1) {
                width: auto;
                padding: 0.7vw;
                padding-right: 2vw;
                padding-left: 2vw;
                border-radius: 25px;
                background-color: #1FAB8A;
                border: none;
                color: white;
                font-size: 0.7vw;
            }
            button:nth-child(2){
                border: none;
                font-size: 1vw;
                background: transparent;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            column-gap: 5vw;
            li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: 1px solid black;
                    border-radius: 20px;
                    width: 20vw;
                    input {
                        border: none;
                        padding-left: 1vw;
                        padding: 0.5vw;
                        background: transparent;
                        width: 19vw;
                        border-radius: 20px;
                        img {
                            width: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}
main {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    row-gap: 5vh;
    button {
        background-color: #3C336C;
        border-radius: 30px;
        color: #FFFFFF;
        border: none;
        width: auto;
        padding: 3vw;
        padding-top: 0.8vw;
        font-size: 0.9vw;
        cursor: pointer;
        padding-bottom: 0.8vw;
    }
    ul:nth-child(1){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 3vh;
        height: auto;
        width: 40vw;
        padding-bottom: 3vh;
        img {
            width: 10vw;
        }
        li:nth-child(1){
            font-size: 2vw;
            font-weight: bolder;
            width: 40vw;
        }
        li:nth-child(2){
            width: 30vw;
            font-size: 1vw;
            font-weight: 200;
        }
    }


}
.whatWeMadeAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    max-width: 100%;
    row-gap: 3vh;
    padding-bottom: 7vh;
    .nazv {
        align-self: flex-start;
        font-size: 1.7vw;
        font-weight: 700;
        color: #272525;
    }
    .podNazv {
        align-self: flex-start;
        font-size: 1vw;
        color: #454747;
    }
    .whatWeMade {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80vw;
        height: auto;
        row-gap: 3vh;
        .cardsContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: auto;
            row-gap: 3vh;
            ul {
                display: flex;
                justify-content: space-around;
                width: auto;
                column-gap: 2vw;
                align-items: center;
                li {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;
                    height: auto;
                    row-gap: 1vh;
                    font-size: 1vw;
                    font-weight: 600;
                    color: #272525;
                }
            }
        }
    }
}
.priceAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    padding-bottom: 7vh;
    .price {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        ul {
            display: flex;
            flex-direction: column;
            width: 25vw;
            align-items: flex-start;
            justify-content: space-around;
            height: auto;
            row-gap: 2vh;
            li:nth-child(1){
                font-size: 1.5vw;
                font-weight: 600;
                color: #272525;
            }
            li:nth-child(2){
                font-size: 0.8vw;
                font-weight: 300;
                width: 23vw;
                color: #454747;
            }
        }
    }
}
.footerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    justify-content: space-around;
    padding-bottom: 7vh;
    background-image: url('../MainPage/imgs/Footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 10vh;
    .reserved {
        color: #9FA3B2;
        font-size: 0.9vw;
    }
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        .nazv {
            font-size: 1.2vw;
            color: #272525;
            font-weight: 700;
        }
        p {
            font-size: 1vw;
        }
        a{
            text-decoration: none;
            color: #454747;
        }
        ul:nth-child(1){
            li:nth-child(4){
                display: flex;
                justify-content: space-around;
                width: 10vw;
                column-gap: 1vw;
                img {
                    width: 1.5vw;
                }
            }
        }
        ul {
            width: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            row-gap: 2vh;
            li{
                font-size: 1vw;
            }
        }
        form {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            column-gap: 0.5vw;
            border: 2px solid #272525;
            border-radius: 16px;
            padding: 0.5vw;
            background-color: white;
            padding-left: 1vw;
            padding-right: 1vw;
            button {
                background-color: #524983;
                font-size: 1vw;
                width: auto;
                padding: 1vw;
                border: none;
                color: white;
                padding-bottom: 0.7vw;
                padding-top: 0.7vw;
                border-radius: 50%;
            }
            input {
                border: none;
                background: transparent;
                font-size: 1vw;
                width: 10vw;
            }
        }
        ul:nth-child(4){
            .qa {
                color: #8F90A6;
            }
        }
        ul:nth-child(1){
            width: auto;
            padding-right: 2vw;
            li:nth-child(1){
                img {
                    width: 25vw;
                }
            }
            li:nth-child(2){
                width: 20vw;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .headerAll {
        row-gap: 3vh;
        padding-top: 1vh;
        background-size: 110%;
    }
    .footerAll {
        padding-bottom: 0;
    }
    .whatWeMade {
        .cardsContainer {
            ul {
                flex-wrap: wrap; /* Добавляем перенос рядов */
                justify-content: flex-start; /* Выравнивание по левому краю */
            }
            li {
                width: calc(33.33% - 1vw); /* Ширина для 3 фото в строке с учетом отступов */
            }
        }
    }
    
    .priceAll {
        .price {
            ul {
                width: 100%; /* Убираем фиксированную ширину */
                flex-wrap: wrap; /* Добавляем перенос рядов */
                li {
                    width: calc(50% - 1vw); /* Ширина для 2 фото в строке с учетом отступов */
                }
            }
        }
        /* Последний элемент занимает оставшуюся ширину */
        .price ul:last-child {
            width: 100%; /* Выровнять последний элемент по левому краю */
            margin-left: 0; /* Убираем центрирование */
        }
    }
}
@media screen and (max-width: 768px) {
    .priceAll .price {
        flex-direction: column;
    }
    .priceAll .price ul li:nth-child(2) {
        width: 80vw;
        font-size: 2vw;
    }
    .whatWeMadeAll .whatWeMade {
        img {
            width: 40vw;
        }
    }
    .headerAll {
        background-size: 130%;
    }
}
@media screen and (max-width: 480px) {
    .headerAll header div:nth-child(2) ul {
        display: none;
    }
    main ul:nth-child(1) li:nth-child(1){
        font-size: 4vw;
        width: 80vw;
    }
    main ul:nth-child(1) li:nth-child(2) {
        font-size: 2vw;
        width: 60vw;
    }
    .headerAll header div:nth-child(2) {
        display: none;
    }
    .headerAll {
        background-size: 150%;
        background-position: 50% 0%;
    }
    .headerAll header ul li form {
        display: none;
    }
    .headerAll header ul {
        column-gap: 10vw;
    }
    .headerAll header .forlogo img {
        width: 35vw;
    }
    .whatWeMadeAll .nazv {
        font-size: 4vw;
    }
    .whatWeMadeAll .whatWeMade {
        row-gap: 2vh;
    }
    .whatWeMadeAll .podNazv {
        font-size: 2vw;
    }
    .whatWeMadeAll .whatWeMade .cardsContainer ul li {
        font-size: 2vw;
    }
}
@media screen and (max-width: 320px) {
    main button {
        font-size: 5vw;
        position: relative;
        top: 400px;
        padding: 1vw;
        width: 100%;
    }
    main ul:nth-child(1) {
        row-gap: 1vh;
    }

    main ul:nth-child(1) {
        text-align: center;
    }
    .whatWeMadeAll .nazv {
        font-size: 6vw;
    }
    .whatWeMadeAll .podNazv {
        font-size: 4vw;
    }
    .whatWeMadeAll .whatWeMade .cardsContainer ul li {
        font-size: 4vw;
    }
    .priceAll .price ul li:nth-child(2) {
        font-size: 3vw;
    }
    .priceAll .price ul li:nth-child(1){
        font-size: 5vw;
    }
    .footerAll {
        padding-top: 2vh;
    }
    .headerAll {
        background-size: 500%;
        background-position: 78% 100%;
        padding-bottom: 50vh;
    }
    main ul:nth-child(1) li:nth-child(2) {
        width: 70vw;
        align-self: center;
        font-size: 3vw;
    }
    main {
        width: 80vw;
        flex-direction: column;
    }
    main ul:nth-child(1) li:nth-child(1) {
        width: 70vw;
        align-self: center;
        font-size: 6vw;
    }
}
@media (max-width: 768px) {
    .footerAll footer {
        flex-direction: row; /* Сохранить рядное размещение */
        justify-content: space-between; /* Сохранить равные отступы */
    }

    .footerAll footer .nazv {
        font-size: 1.5vw; /* Уменьшение размера шрифта */
    }

    .footerAll footer ul {
        width: 30vw; /* Уменьшение ширины списков */
    }

    .footerAll footer form input {
        width: 40vw; /* Уменьшение ширины поля ввода */
    }
}

@media (max-width: 480px) {
    .footerAll footer {
        flex-direction: row; /* Сохраняем рядное размещение */
        justify-content: space-between; /* Поддерживаем равномерные отступы */
    }

    .footerAll footer .nazv {
        font-size: 2vw; /* Увеличение размера шрифта для улучшения читаемости */
    }

    .footerAll footer ul {
        width: 40vw; /* Увеличение ширины списков */
    }

    .footerAll footer form input {
        width: 60vw; /* Увеличение ширины поля ввода */
    }

    .footerAll .reserved {
        font-size: 1.2vw; /* Увеличение шрифта для читаемости */
    }
}