*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    list-style: none;
}
*:focus {
    outline: none;
}
.headerAll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    row-gap: 5vh;
    padding-top: 7vh;
    background-image: url('imgs/Group\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 14vh;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: auto;
        row-gap: 5vh;
        max-width: 100%;
        .forlogo {
            img {
                width: 28vw;
            }
        }
        div:nth-child(2){
            width: 100vw;
            height: 10vh;
            max-width: 100%;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-content: center;
            background-image: url('../MainPage/imgs/Group\ 2.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            ul{
                width: 80vw;
                justify-content: space-around;
                li:nth-child(6){
                    font-size: 1vw;
                    font-weight: bold;
                }
                button{
                    width: auto;
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                    padding-right: 1vw;
                    padding-left: 1vw;
                    border: none;
                    color: black;
                    font-size: 0.8vw;
                    font-weight: 500;
                    background: transparent;
                }
            }
        }
        ul{
            li:nth-child(4){
                img{
                    width: 1.5vw;
                }
            }
            button:nth-child(1) {
                width: auto;
                padding: 0.7vw;
                padding-right: 2vw;
                padding-left: 2vw;
                border-radius: 25px;
                background-color: #1FAB8A;
                border: none;
                color: white;
                font-size: 0.7vw;
            }
            button:nth-child(2){
                border: none;
                font-size: 1vw;
                background: transparent;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: auto;
            column-gap: 5vw;
            li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: 1px solid black;
                    border-radius: 20px;
                    width: 20vw;
                    input {
                        border: none;
                        padding-left: 1vw;
                        padding: 0.5vw;
                        background: transparent;
                        width: 19vw;
                        border-radius: 20px;
                        img {
                            width: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}
main {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    row-gap: 5vh;
    button {
        background-color: #3C336C;
        border-radius: 30px;
        color: #FFFFFF;
        border: none;
        width: auto;
        padding: 3vw;
        padding-top: 0.8vw;
        font-size: 0.9vw;
        cursor: pointer;
        padding-bottom: 0.8vw;
    }
    ul:nth-child(1){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 3vh;
        height: auto;
        width: 40vw;
        padding-bottom: 3vh;
        img {
            width: 10vw;
        }
        li:nth-child(1){
            font-size: 2vw;
            font-weight: bolder;
            width: 40vw;
        }
        li:nth-child(2){
            width: 30vw;
            font-size: 1vw;
            font-weight: 200;
        }
        li:nth-child(3){
            display: flex;
            justify-content: space-between;
            width: auto;
            column-gap: 1vw;
            a {
                text-decoration: none;
                color: #3C336C;
            }
        }
    }


}
.questionsandAnsAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    max-width: 100%;
    .questionsandAns {
        width: 80vw;
        display: flex;
        flex-direction: column;
        height: auto;
        row-gap: 3vh;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
            height: auto;
            row-gap: 2vh;
            li:nth-child(1){
                font-size: 1.5vw;
                font-weight: 700;
            }
            li:nth-child(2){
                font-size: 0.8vw;
                font-weight: 400;
            }
        }
    }
}
.questionsAll {
    display: flex;
    width: 100vw;
    flex-direction: row;
    padding-top: 7vh;
    align-items: center;
    max-width: 100%;
    padding-bottom: 7vh;
    justify-content: space-around;
    .ques {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
    }
    .forHoodieImg {
        img {
            width: 25vw;
        }
    }
    .questions {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: auto;
        row-gap: 2vh;
        .kakzakaz {
            padding-bottom: 3vh;
            border-bottom: 5px #F1F0F8 solid;
            width: 100%;
        }
        ul {
            padding-bottom: 3vh;
            border-bottom: 5px #F1F0F8 solid;
            width: 100%;
        }
        .kakstir{
            li{
                list-style: none;
            }
        }
        li {
            list-style:circle;
        }
        .withNazv {
            display: flex;
            justify-content: space-between;
            width:100%;
            align-items: center;
            font-size: 1.5vw;
            font-weight: 600;
            height: auto;
            row-gap: 2vh;
            img {
                width: 1vw;
            }
        }
    }
}
.contactsAll {
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    .forms {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        width: auto;
        column-gap: 3vw;
        align-self: flex-start;
        column-gap: 3vw;
        #forforms {
            width: 20vw;
            align-self: flex-start;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: auto;
            row-gap: 3vh;
            flex-direction: column;
            button {
                width: auto;
                padding-bottom: 0.5vw;
                padding-top: 0.5vw;
                padding-left: 3vw;
                padding-right: 3vw;
                border: none;
                border-radius: 20px;
                background-color: #1FAB8A;
                color: white;
                font-size: 0.9vw;
            }
            form {
                width: 20vw;
                border: none;
                border-bottom: 1px solid black;
                input {
                    border:none;
                    background: transparent;
                    font-size: 1vw;
                }
            }
        }
        p {
            font-size: 1.2vw;
            font-weight: 600;
        }
    }
    .creative {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
        height: auto;
        row-gap: 2vh;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            row-gap: 3vh;
        }
    }
    .contacts {
        display: flex;
        width: 80vw;
        justify-content: space-between;
        align-items: center;
        height: auto;
        row-gap: 3vh;
        .slevaAll {
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: auto;
                row-gap: 2vh;
                li:nth-child(1){
                    p {
                        font-size: 1.5vw;
                        font-weight: 700;
                    }
                    img {
                        width: 2vw;
                    }
                }
                li:nth-child(2){
                    font-size: 1vw;
                    font-weight: 700;
                }
                li:nth-child(3){
                    font-size: 1vw;
                    font-weight: 700;
                }
                li:nth-child(4){
                    img {
                        width: 2vw;
                    }
                }
                li {
                    display: flex;
                    justify-content: space-between;
                    width: auto;
                    column-gap: 2vw;
                    align-items: center;
                }
            }
        }
    }
}
.footerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    justify-content: space-around;
    padding-bottom: 7vh;
    background-image: url('../MainPage/imgs/Footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-top: 10vh;
    .reserved {
        color: #9FA3B2;
        font-size: 0.9vw;
    }
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80vw;
        .nazv {
            font-size: 1.2vw;
            color: #272525;
            font-weight: 700;
        }
        p {
            font-size: 1vw;
        }
        a{
            text-decoration: none;
            color: #454747;
        }
        ul:nth-child(1){
            li:nth-child(4){
                display: flex;
                justify-content: space-around;
                width: 10vw;
                column-gap: 1vw;
                img {
                    width: 1.5vw;
                }
            }
        }
        ul {
            width: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
            row-gap: 2vh;
            li{
                font-size: 1vw;
            }
        }
        form {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            column-gap: 0.5vw;
            border: 2px solid #272525;
            border-radius: 16px;
            padding: 0.5vw;
            background-color: white;
            padding-left: 1vw;
            padding-right: 1vw;
            button {
                background-color: #524983;
                font-size: 1vw;
                width: auto;
                padding: 1vw;
                border: none;
                color: white;
                padding-bottom: 0.7vw;
                padding-top: 0.7vw;
                border-radius: 50%;
            }
            input {
                border: none;
                background: transparent;
                font-size: 1vw;
                width: 10vw;
            }
        }
        ul:nth-child(4){
            .qa {
                color: #8F90A6;
            }
        }
        ul:nth-child(1){
            width: auto;
            padding-right: 2vw;
            li:nth-child(1){
                img {
                    width: 25vw;
                }
            }
            li:nth-child(2){
                width: 20vw;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    main ul:nth-child(1) li:nth-child(3) {
        font-size: 2vw;
        width: 100%;
        flex-wrap: wrap;
    }
    .headerAll {
        row-gap: 3vh;
        padding-top: 4vh;
        background-size: 120%;
    }
    .questionsandAnsAll {
        .questionsandAns {
            width: 90vw; /* увеличиваем ширину */
            row-gap: 5vh; /* увеличиваем расстояние между вопросами */
            ul {
                li:nth-child(1) {
                    font-size: 2vw; /* увеличиваем текст */
                }
                li:nth-child(2) {
                    font-size: 1vw; /* увеличиваем текст */
                }
            }
        }
    }

    .questionsAll {
        padding-top: 5vh; /* уменьшаем верхний отступ */
        padding-bottom: 5vh; /* уменьшаем нижний отступ */
        
        .ques {
            width: 90vw; /* увеличиваем ширину блока с вопросами */
        }

        .forHoodieImg img {
            width: 30vw; /* увеличиваем ширину изображения */
        }

        .questions {
            width: 60vw; /* увеличиваем ширину вопросов */
            .withNazv {
                font-size: 2vw; /* увеличиваем текст */
                img {
                    width: 2vw; /* увеличиваем ширину изображения */
                }
            }
        }
    }

    .contactsAll {
        .forms {
            column-gap: 2vw; /* уменьшаем промежуток между элементами форм */
            #forforms {
                width: 25vw; /* увеличиваем ширину формы */
            }
            ul {
                button {
                    padding: 0.8vw 3vw; /* изменяем отступы кнопки */
                    font-size: 1vw; /* увеличиваем текст кнопки */
                }
                form {
                    width: 25vw; /* увеличиваем ширину формы */
                    input {
                        font-size: 1.2vw; /* увеличиваем размер шрифта в инпуте */
                    }
                }
            }
            p {
                font-size: 1.5vw; /* увеличиваем текст */
            }
        }
        .creative {
            width: 90vw; /* увеличиваем ширину креативного блока */
        }
        .contacts {
            width: 90vw; /* увеличиваем ширину контактов */
        }
    }
}

@media screen and (max-width: 768px) {
    .headerAll {
        background-size: 170%;
        background-position: 60% 60%;
    }
    .questionsandAnsAll {
        .questionsandAns {
            width: 95vw; /* еще больше увеличиваем ширину */
            row-gap: 6vh; /* увеличиваем расстояние между вопросами */
            ul {
                li:nth-child(1) {
                    font-size: 2.5vw; /* увеличиваем текст */
                }
                li:nth-child(2) {
                    font-size: 1.2vw; /* увеличиваем текст */
                }
            }
        }
    }

    .questionsAll {
        padding-top: 3vh; /* еще меньше отступ */
        padding-bottom: 3vh; /* еще меньше отступ */
        
        .ques {
            width: 95vw; /* увеличиваем ширину блока с вопросами */
        }

        .forHoodieImg img {
            width: 35vw; /* изменяем ширину изображения */
        }

        .questions {
            width: 80vw; /* увеличиваем ширину вопросов */
            .withNazv {
                font-size: 2.5vw; /* увеличиваем текст */
                img {
                    width: 2.5vw; /* увеличиваем ширину изображения */
                }
            }
        }
    }

    .contactsAll {
        .forms {
            column-gap: 1vw; /* уменьшаем промежуток между элементами форм */
            #forforms {
                width: 30vw; /* увеличиваем ширину формы */
            }
            ul {
                button {
                    padding: 0.7vw 2.5vw; /* изменяем отступы кнопки */
                    font-size: 1.1vw; /* увеличиваем текст кнопки */
                }
                form {
                    width: 30vw; /* увеличиваем ширину формы */
                    input {
                        font-size: 1.5vw; /* увеличиваем размер шрифта в инпуте */
                    }
                }
            }
            p {
                font-size: 1.8vw; /* увеличиваем текст */
            }
        }
        .creative {
            width: 95vw; /* увеличиваем ширину креативного блока */
        }
        .contacts {
            width: 95vw; /* увеличиваем ширину контактов */
        }
    }
}
@media screen and (max-width: 480px) {
    .footerAll {
        padding-bottom: 0;
    }
    .headerAll header div:nth-child(2) ul {
        display: none;
    }
    main ul:nth-child(1) li:nth-child(1){
        font-size: 4vw;
        width: 80vw;
    }
    main ul:nth-child(1) li:nth-child(2) {
        font-size: 2vw;
        width: 50vw;
    }
    .headerAll header div:nth-child(2) {
        display: none;
    }
    .headerAll {
        background-size: 150%;
        background-position: 50% 0%;
        padding-bottom: 5vh;
    }
    .questionsandAnsAll .questionsandAns ul li:nth-child(1) {
        font-size: 4vw;
    }
    .questionsandAnsAll .questionsandAns ul li:nth-child(2) {
        font-size: 3vw;
    }
    .headerAll header ul li form {
        display: none;
    }
    .headerAll header ul {
        column-gap: 10vw;
    }
    .headerAll header .forlogo img {
        width: 35vw;
    }
    .questionsAll .ques {
        flex-direction: column;
    }
    .contactsAll .contacts {
        flex-direction: column;
        align-items: flex-start;
    }
    .contactsAll .contacts .slevaAll ul li:nth-child(1) p {
        font-size: 4vw;
    }
    .contactsAll .contacts .slevaAll ul li:nth-child(3) {
        font-size: 4vw;
    }
    .contactsAll .contacts .slevaAll ul li:nth-child(2) {
        font-size: 5vw;
    }
    .contactsAll .contacts .slevaAll ul li:nth-child(4) img {
        width:5vw ;
    }
    .contactsAll .forms {
        flex-direction: column;
    }
    .contactsAll .forms #forforms {
       font-size: 4vw;
       width: 70vw;

    }
    .contactsAll .forms ul{
        form {
            width: 70vw;
           }
    }
    .contactsAll .forms ul button {
        font-size: 4vw;
        padding-right: 10vw;
        padding-left: 10vw;
    }
}
@media (max-width: 768px) {
    .footerAll footer {
        flex-direction: row; /* Сохранить рядное размещение */
        justify-content: space-between; /* Сохранить равные отступы */
    }

    .footerAll footer .nazv {
        font-size: 1.5vw; /* Уменьшение размера шрифта */
    }

    .footerAll footer ul {
        width: 30vw; /* Уменьшение ширины списков */
    }

    .footerAll footer form input {
        width: 40vw; /* Уменьшение ширины поля ввода */
    }
}

@media (max-width: 480px) {
    .footerAll footer {
        flex-direction: row; /* Сохраняем рядное размещение */
        justify-content: space-between; /* Поддерживаем равномерные отступы */
    }

    .footerAll footer .nazv {
        font-size: 2vw; /* Увеличение размера шрифта для улучшения читаемости */
    }

    .footerAll footer ul {
        width: 40vw; /* Увеличение ширины списков */
    }

    .footerAll footer form input {
        width: 60vw; /* Увеличение ширины поля ввода */
    }

    .footerAll .reserved {
        font-size: 1.2vw; /* Увеличение шрифта для читаемости */
    }
}

.menu {
    background-color: #333;
    padding: 10px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: inline-block;
        position: relative;
    }
    
    li a button {
        background-color: #444;
        color: white;
        padding: 15px;
        border: none;
    }
    
    li a button:hover {
        background-color: #575757;
    }
}



.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
}

.sub-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #444;
}

ul.submenu ul {
    padding: 0;
}

ul.submenu li {
    display: block;
}
.SubgovnoEbanoe {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #272525;
    border-radius: 16px;
    position: absolute;
    left: 360px;
    top: 290px;
    ul {
        flex-direction: column;
        display: flex;
        li{
            cursor: pointer;
            padding: 10px;
            background-color: #272525;
            &:hover {
                background-color: white;
            }
        }
    }
}
